<style type="text/css">
#map_canvas {
   display: block;
   width: 100%;
   height: 400px;
}
</style>
	
		<div class="span4">
			<h3>Name : <%= @workshop.name %></h3>
			<p>Address : <%= @workshop.address %></p>
			<p>About : <% @workshop.about %></p>
		</div>

		<div id="map_canvas" class="span4">
		</div>
		
<script type="text/javascript">
$( document ).ready(function() {
  
  var map = new GMaps({
    div: '#map_canvas',
    zoom: 19,
   	lat: <%= @workshop.latitude %>,
   	lng: <%= @workshop.longitude %>
  });

  map.addMarker({
    lat: <%= @workshop.latitude %>,
    lng: <%= @workshop.longitude %>,
    title: 'Lima',
    click: function(e) {
      alert('You clicked in this marker');
    }
  });

});

</script>