<p id="notice"><%= notice %></p>
<style type="text/css">
#map_canvas {
   display: block;
   width: 100%;
   height: 400px;
}
</style>

<% if can? :update, @workshop %>
  <%= link_to 'Edit', edit_workshop_path(@workshop) %> |
  <%= link_to 'Back', workshops_path %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @workshop.name %></h3>
  </div>
  <div class="panel-body">
    <address>Address : <%= @workshop.address %></address>
    <br>
    <div class="well">
      <strong>Additional info:</strong>
      <%= raw @workshop.about %>
    </div>
      <div id="map_canvas" class="span4">
  </div>
</div>

<script type="text/javascript">
$( document ).ready(function() {
  
  var map = new GMaps({
    div: '#map_canvas',
    zoom: 17,
   	lat: <%= @workshop.location.latitude %>,
   	lng: <%= @workshop.location.longitude %>
  });

  map.addMarker({
    lat: <%= @workshop.location.latitude %>,
    lng: <%= @workshop.location.longitude %>,
    title: '<%= @workshop.name %>',
    icon: "<%= @workshop.category.marker.thumb.url %>"
  });

});

</script>
