<p id="notice"><%= notice %></p>
<style type="text/css">
#map_canvas {
   display: block;
   width: 100%;
   height: 400px;
}
</style>
	
		<div class="span4">
			<h3>Name : <%= @workshop.name %></h3>
			<p>Address : <%= @workshop.address %></p>
			<p>About : <% @workshop.about %></p>
		</div>

		<div id="map_canvas" class="span4">
		</div>
		
<script type="text/javascript">
$( document ).ready(function() {
  
  var map = new GMaps({
    div: '#map_canvas',
    zoom: 19,
   	lat: <%= @workshop.location.latitude %>,
   	lng: <%= @workshop.location.longitude %>
  });

  map.addMarker({
    lat: <%= @workshop.location.latitude %>,
    lng: <%= @workshop.location.longitude %>,
    title: '<%= @workshop.name %>',
  });

});

</script>
<%= link_to 'Edit', edit_workshop_path(@workshop) %> |
<%= link_to 'Back', workshops_path %>
