<%= link_to 'New Badge', new_admin_badge_path, class: "btn btn-primary", 'data-no-turbolink' => true %>
<hr>
<table class="table table-bordered">
  <thead>
    <th>Name</th>
    <th>Badge</th>
    <th colspan="2">&nbsp;</th>    
  </thead>
  <tbody>
  <% @badges.each do |badge| %>
    <tr>
      <td>
        <b><%= badge.name %></b>
      </td>
      <td>
        <%= image_tag badge.picture.thumb.url %>
      </td>
      <td>
        <%= link_to 'Edit', edit_admin_badge_path(badge) %>
      </td>
      <td>
        <%= link_to 'Delete', admin_badge_path(badge), method: 'delete', confirm: 'Are You Sure?' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @badges %>
