<table class="table table-condensed">
  <thead>
    <th>Name</th>
    <th>Address</th>
    <th>Distance</th>
  </thead>
  <% @list_workshops.each do |workshop| %>
  <tr>
    <%= form_for workshop, url: show_direction_home_path(workshop.id), method: :post, class: "contactForm" do |f|%>
      <%= f.hidden_field :user, value: @user_location %>
      <td>
      <%= f.submit workshop.name, class: "btn-normal"  %>
      </td>
    <% end %>
    
    <td><%= workshop.address %></td>
    <td><%= workshop.distance_from(@user_location) %> miles</td>
  </tr>
  <% end %>
</table>

<form id="contact" class="contactForm">
          
          <label>Full Name <span class="required">*</span></label>
          <input type="text" name="name" id="ContactName" placeholder="Name">
          
          <label>Email <span class="required">*</span></label>
          <input type="email" name="mail" id="ContactEmail" placeholder="Email">
          
          <label>Message <span class="required">*</span></label>
          <textarea id="ContactMessage" name="comment" placeholder="Message"></textarea>
          
          <input type="submit"  class="btn-normal" id="SubmitContact" value="send">
          
          <div id="msg" class="notifications" style="display:none"></div>
        </form>
