<table class="table table-condensed">
  <thead>
    <th>Name</th>
    <th>Address</th>
    <th>Distance</th>
  </thead>
  <% @list_workshops.each do |workshop| %>
  <tr>
    <%= form_for workshop, url: show_direction_home_path(workshop.id), method: :post, class: "contactForm" do |f|%>
      <%= f.hidden_field :latitude, value: @user_location.first %>
      <%= f.hidden_field :longitude, value: @user_location.last %>
      <td><%= f.submit workshop.place.name %></td>
    <% end %>
    
    <td><%= workshop.place.address %></td>
    <%= content_tag(:td,"workshop#{workshop.place.id}", id: "workshop#{workshop.place.id}") %>
    <div id="map_canvas"></div>

    <script type="text/javascript">
    map = new GMaps({
        el: '#map_canvas',
        lat: <%= @user_location.first %>,
        lng: <%= @user_location.last %>,
        zoom: 18
      });

    map.getRoutes({
      origin: [<%= @user_location.first.to_f %>, <%= @user_location.last.lstrip.to_f %>],
      destination: [<%= workshop.latitude %>, <%= workshop.longitude %>],
      callback: function (e) 
      {
        var time = 0;
        var distance = 0;
        for (var i=0; i<e[0].legs.length; i++) 
        {
          time += e[0].legs[i].duration.value;
          distance += e[0].legs[i].distance.value;
        }
        $("td#workshop<%= workshop.place.id %>").text(distance*0.001 + ' KM');
      }
      });
    </script>

  </tr>
  <% end %>
</table>
