<button id="show_instruction" class="half">Instructions</button>
<button id="show_comments" class="half">Comments</button>

<div id="instructions_container" class="well">
  <legend class="title"><span>Direction</span></legend>
  <ul id="instructions"></ul>
</div>
<div class="span6" id="comments">
  <table>
    <% @workshop.comment_threads.each do |comment| %>
      <tr> 
      <td width="10%"><%= image_tag comment.user.avatar.thumb.url, size:"4x4" %></td>
      <td align="left"><%= comment.body %></td>
      </tr>
    <% end %>
  </table>
</div>
<hr>
<div id="map_canvas" style="height:550px;"></div>  
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-info">Info</button>

<script type="text/javascript">
var map;
$(document).ready(function(){
  $('#comments').hide();

  $('#instructions_container').hide();
  $('#show_instruction').click(function() {
    $( "#instructions_container" ).toggle();
  });
  $('#show_comments').click(function() {
    $( "#comments" ).toggle();
  });

  var coordinate = {
    origin: [<%= @user_location.first %>,<%= @user_location.last %>],
    destination: [<%= @workshop.location.latitude%>, <%= @workshop.location.longitude %>]
  }

  map = new GMaps({
    el: '#map_canvas',
    lat: coordinate.origin[0],
    lng: coordinate.origin[1],
    zoom: 17
  });
  map.hideContextMenu();
  map.addMarker({
    lat: coordinate.origin[0],
    lng: coordinate.origin[1],
    title: 'User Location',
    icon: "/assets/male.png"
  });

  map.addMarker({
    lat: coordinate.destination[0],
    lng: coordinate.destination[1],
    title: '<%= @workshop.name %>',
    icon: "<%= @workshop.category.marker.thumb.url %>"
  });

  <% @workshops.each do |workshop| %>
    map.addMarker({
      lat: <%= workshop.location.latitude %>,
      lng: <%= workshop.location.longitude %>,
      title: '<%= workshop.name %>',
      icon: "<%= workshop.category.marker.thumb.url %>"
    });
  <% end %>

  map.travelRoute({
    origin: coordinate.origin,
    destination: coordinate.destination,
    travelMode: 'walking',
    step: function(e) {
      $('#instructions').append('<li>'+e.instructions+'</li>');
      $('#instructions li:eq(' + e.step_number + ')').delay(420 * e.step_number).fadeIn("medium", function() {
        map.drawPolyline({
          path: e.path,
          strokeColor: '#FF0000',
          strokeOpacity: 0.5,
          strokeWeight: 10
        });  
      });
    }
  });

  map.getRoutes({
      origin: [<%= @user_location.first %>,<%= @user_location.last %>],
      destination: [<%= @workshop.location.latitude%>, <%= @workshop.location.longitude %>],
      avoidHighways: false,
      avoidTolls: false,
      travelMode: 'DRIVING',
      unitSystem: "IMPERIAL",
      callback: function (e) {
          var time = 0;
          var distance = 0;
          for (var i=0; i<e[0].legs.length; i++) {
              time += e[0].legs[i].duration.value;
              distance += e[0].legs[i].distance.value;
          }
          $('h3#Distance').text(distance*0.001 + ' KM from your position');
      }
  });

});


</script>