<%= form_for([:admin,@category], html: {multipart: true}) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :marker %>
    <%= f.file_field :marker %>
  </div>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>