<h1>Categories#index</h1>
<div class="container">
  <h2><%= link_to 'New Category', new_category_path %></h2>
  <table class="table table-striped">
  <% @categories.each do |category| %>
    <tr>
      <td>
        <p>Category Name: <b><%= category.name %></b></p>
        <p>Category Picture Marker: <%= image_tag category.picture_marker.url(:thumb) %></p>
      </td>
      <td>
        <%= link_to 'Edit', edit_category_path(category) %>
        |
        <%= link_to 'Delete', category_path(category), method: 'delete', confirm: 'Are You Sure?' %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
