<h1>Take Badge</h1>
<hr>
<table class="table table-bordered">
  <thead>
    <th>Name</th>
    <th>Badges</th>
    <th colspan="2">&nbsp;</th>    
  </thead>
  <tbody>
    <tr>
      <td>
        <b><%= @user.name %></b>
      </td>
      <td>
        <%= form_for(:userbadges, url: destroy_badges_admin_user_path) do |f| %>
          
          <% @badges.each do |badge| %>
            <%= check_box_tag "badge[]", badge.id %>
             <%= image_tag badge.picture.thumb.url %> 

            <% end %>

          <%= submit_tag "Submit" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
